# Crosstabuation, Dummy variables


## You will learn to:

    . creating dummy variables
    . split data in test and train
    . Visualizing data
    . cleaning data
    
## 1- Packages

Loading the required packages for this session:

    . numpy
    
    . Pandas
    
    . matplotlib
    
    . seaborn
    
    . sklearn

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

#for eliminating the unnecessary warnings:
import warnings
warnings.filterwarnings('ignore')

## 2- Loading data

    . We are using the merged data frame that has been prepared in "Loading_Merging_cleaning_visualizing Data"
    . Introduce the Obs_ as index

In [8]:
df = pd.read_excel('D:/My Job/DataMining/For Test/Data/input/df.xlsx',index_col='Obs_y')

In [10]:
df.head()

,AGEAVG,TRADES,TOTBAL,HSATRT,CURSAT,BRTRDS,BROPEN,BROLDT,BRHS2X,BRHS3X,...,TIME39,TIME49,CSORAT,T2924X,T3924X,T4924X,BRBAL1,REHSAT,BKRETL,MODLYR
Obs_y,,,,,,,,,,,,,,,,,,,,,
1,-5.00,0,-5,-5.00,-5,-5,-5,-5,-5,-5,...,-5,-5,-5.0,-5,-5,-5,-5,-5,9925.0,1994
2,46.00,9,1567,0.00,0,0,-6,-6,-6,-6,...,4,4,-6.0,4,4,4,-6,-6,9050.0,1993
3,-2.00,0,-2,-2.00,-2,-2,-2,-2,-2,-2,...,-2,-2,-2.0,-2,-2,-2,-2,-2,3165.0,1983
4,39.52,35,27657,37.14,1,3,1,23,0,1,...,2,2,100.0,7,7,6,1,8,3975.0,1989
5,30.44,13,11467,23.08,0,0,-6,-6,-6,-6,...,8,8,-6.0,2,2,2,-6,0,21293.0,1998

## 3- Defining Dummy Variables

### Why dummies:

    .Non-linear realtionships
        .A subset of a variable (a certain range of values) may affect dependent differently, but variable used as a continuous one may not be significant.
    . Easier to interpret
        .for business applications
    . Can handle special cases easily 
        .no record, inquiries only, missing, etc. for credit bureau data, based on dependent variable characteristics for those categories.
        
### How to define them:

    .Compute G/B Percent ratio (Good Column Percent / Bad Column Percent for each category).
    .Use the pattern of these ratios to determine how many categories (and hence number of dummies) to create.
    .Must have a neutral category.
    
### Guidelines:

    .Eg: Ratios get better with age – does that make sense? Why or why not?
    .If a higher age category has lower ratio then combine it with the previous (or next) category. 
    .If pattern is entiresly contrary to business expectation, investigate data, and/or drop the variable.
    .If no pattern (variation in ratios) at all, drop the variable – it has no discriminatory power.
    
### Special cases:

    .Make them Neutral by default.
    .Look at Good/Bad ratio for those categories.
    .Find bucket of legitimate values of variable with similar G/B ratio, and make that the Neutral category also.
    .Assess the impact of special cases on dependent with a separate variable that simply identifies a record as a special case or not.